<div class="subscription-menu container">
  <transition name="fade-fast" mode="out-in">
    <div v-if="selectedLevel" class="row" key="confirm">
      <h2 class="message" key="head">Confirm Order</h2>
      <div class="row" key="body">
        <div class="col-8 name">{{ selectedLevel.name }}</div>
        <!-- TODO: expires -->
        <div class="col-4 price">${{ selectedLevel.billing_amount }}</div>
      </div>
      <div class="row" key="links">
        <div class="col-4"></div>
        <div class="col-4">
          <a class="cancel" href="#" @click.stop="unsetLevel">go back</a>
        </div>
        <div class="col-4">
          <router-link
            :to="{ name:'members-checkout', query: {
                   level: selectedLevel.id,
                   'submit-checkout': 1,
                   checkjavascript: 1,
                   javascriptok: 1
                 }}"
            class="submit confirm checkout paypal paypal-express"
            target="_blank">checkout</router-link>
        </div>
      </div>
    </div>
    <div v-else class="row" key="select">
      <div v-for="level in memberLevels" :key="level.id"
           class="col-12 col-md-4">
        <b-card no-body class="member-level" :header="level.name">
          <b-card-body>
            <div class="description" v-html="level.description"></div>
            <div class="price">${{ level.billing_amount }}</div>
          </b-card-body>
          <b-card-footer v-if="currentLevel.id == level.id" class="selected">
            expires {{ user.membership.expires }}
          </b-card-footer>
          <b-card-footer v-else class="buy">
            <!-- <router-link :to="'/members/signup/' + level.id"></router-link> -->
            <a href="#" @click.stop="setLevel( level )">{{
              user ? 'select' : 'sign up'
              }}</a>
          </b-card-footer>
        </b-card>
      </div>
    </div>
  </transition>
</div>
