<div class="subscription-menu container">
  <transition name="fade-fast" mode="out-in">
    <div v-if="confirmed" class="row success" key="success">
      <h2>Success!</h2>
      <div class="welcome col-12">You've succesfully signed up for the {{
        currentLevel.name }} package. <span v-if="targetPost">You can now see
          the content you were trying to view
          <router-link :to="targetPost">here</router-link>.</span>
      </div>
    </div>
    <div v-else-if="selectedLevel" class="confirm container" key="confirm">
      <h2 class="message">Confirm Order</h2>
      <b-table striped hover :items="order" :fields="order_fields" stacked="sm"
               class="order"></b-table>
      <div class="actions">
        <b-button variant="warning"
                  :to="{ name:'members-checkout', query: {
                         level: selectedLevel.id,
                         'submit-checkout': 1,
                         checkjavascript: 1,
                         javascriptok: 1
                       }}"
                  class="col-2 submit confirm checkout paypal paypal-express"
                  target="_blank">checkout</b-button>
        <b-button class="col-2 cancel" @click.stop="unsetLevel"
                  variant="link">go back</b-button>
      </div>
    </div>
    <div v-else class="row" key="select">
      <div v-for="level in memberLevels" :key="level.id"
           class="col-12 col-md-4">
        <b-card no-body class="member-level" :header="level.name">
          <b-card-body>
            <div class="description" v-html="level.description"></div>
            <div class="price">${{ level.billing_amount }}</div>
          </b-card-body>
          <b-card-footer v-if="currentLevel.id == level.id" class="selected">
            expires {{ user.membership.expires }}
          </b-card-footer>
          <b-card-footer v-else class="buy">
            <!-- <router-link :to="'/members/signup/' + level.id"></router-link> -->
            <a href="#" @click.stop="setLevel( level )">{{
              user ? 'select' : 'sign up'
              }}</a>
          </b-card-footer>
        </b-card>
      </div>
    </div>
  </transition>
</div>
