.featured-outer{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.featured-wrapper{
  position: relative;
  height: 100%;
  padding: 120px 0;
  color: #eee;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.9);
  // @include breakpoint( $max-phone ) {
  //   height: 50%;
  // }
  .carousel, .carousel-inner, .carousel-item {
    height: 100%;
  }
  .sharedaddy {
    display: none !important;
  }
  .caption, .description, .excerpt {
    text-align: justify;
  }
  .media {
    max-width: 100%;
    margin: 0 auto;
    max-height: 600px;
  }
}
#featured {
  position: absolute;
  bottom: 0;
  width: 100%
}
