.featured-wrapper{
  position: relative;
  height: 100%;
  padding: 120px 0;
  // @include breakpoint( $max-phone ) {
  //   height: 50%;
  // }
  .carousel, .carousel-inner, .carousel-item {
    height: 100%;
  }
  .sharedaddy {
    display: none !important;
  }
  .caption, .description, .excerpt {
    color: #eee;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  .media {
    max-width: 100%;
  }
}
