.featured-wrapper{
  position: relative;
  height: 100%;
  @include breakpoint( $max-phone ) {
    height: 50%;
  }
  .carousel, .carousel-inner, .carousel-item {
    height: 100%;
  }
  .sharedaddy {
    display: none !important;
  }
}
