.featured-outer{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  &.small {
    height: 12em;
  }
}
.featured-wrapper{
  position: relative;
  height: 100%;
  padding: 80px 0 40px;
  @include breakpoint( $max-phone-wh ) {
    padding: 45px 0 30px;
  }
  color: #eee;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.9);
  // @include breakpoint( $max-phone ) {
  //   height: 50%;
  // }
  .carousel, .carousel-inner, .carousel-item {
    height: 100%;
  }
  .sharedaddy {
    display: none !important;
  }
  .caption, .description, .excerpt {
    text-align: justify;
  }
  .mrk-media {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .mrk-media-wrapper {
    padding: 0;
  }
  .video-js .vjs-big-play-button {
    font-size: 12em;
    background: rgba(0,0,0,0.6);
    /* border: 0 none; */
    /* text-shadow: 0 4px 17px rgba(0,0,0,0.5); */
    border-radius: 30em;
    border-width: 2px;
    width: 1.2em;
    margin-left: -.6em;
    margin-top: -.6em;
    height: 1.2em;
    line-height: 1.2em;
    &:hover {
      color: black;
      background: white;
    }}
}
#featured {
  height: 100%;
  .VueCarousel-wrapper, .VueCarousel-inner {
    position: relative;
    height: 100% !important;
  }
  .VueCarousel-slide > .container,
  .featured-wrapper > .container {
    position: relative;
    height: 100%;
    > .row {
      position: relative;
      height: 100%;
      > .col {
        position: relative;
        height: 100%;
      }
      @include breakpoint( $max-phone ) {
        &.media-wrapper {
          height: 70%;
        }
        &.col-md-4 {
          height: 30%;
        }
      }
    }
  }
}
