/**
 * header
 * ---
 */

// Header container
#masthead {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#bg-image-wrapper {
  position: absolute;
  width: 100%; 
  overflow: hidden; 
  height: 100%;
  background: #100;
  /* transform: translateZ(-2px) scale(2); */
  @include breakpoint( $max-phone ) {
    height: 50%;
  }
}
#bg-image-new {
  display: none
}

// Logo
.logo {
  @include breakpoint( $max-phone ) {
    display: none;
  }}
.logo-img {}
.site-title, .site-description {
  color: white !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  padding: 0 4px;
  a {
    color: white !important;
  }
}
