/**
 * header
 * ---
 */

// Header container
#masthead {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#banner-notices {
  width: 100%
}
.action-bar {
  display: flex;
  float: right;
  padding: 1em 0 1em 10px;
  > * {
    float: right;
  }
}
#user {
  * {
    font-size: 14px;
    font-weight: normal;
  }
  > button {
    background: transparent;
    border: 0 none;
    text-shadow: 0 0px 2px rgba(0,0,0,0.3);
    > .dashicons {
      font-size: 21px;
      height: 21px;
      width: 21px;
    }
  }
}
.rc-anchor.rc-anchor-normal.rc-anchor-light {
  border: 0 none;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
.search-wrapper {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  >.search-box {
    margin-right: -3em;
    padding-left: 30px;
    padding-right: 3em;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 30px;
    opacity: 0;
    animation: close-search-input 1s ease;
  }
  >.icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    vertical-align: middle;
    color: white;
    text-shadow: 0 0px 2px rgba(0,0,0,0.3);
    animation: close-search-icon 1s ease;
    text-decoration: none !important;
    z-index: 20;
    .dashicons {
      font-size: 26px;
      height: 30px;
      width: 30px;
      text-decoration: none !important;
    }
  }
  &.open {
    >.search-box {
      animation: open-search-input 0.3s ease;
      width: 20em;
      opacity: 1;
    }
    >.icon {
      animation: open-search-icon 0.3s ease;
      color: grey;
    }
  }
}
#bg-image-wrapper {
  position: absolute;
  width: 100%; 
  overflow: hidden; 
  height: 100%;
  background: #100;
  /* transform: translateZ(-2px) scale(2); */
}
#bg-image-new {
  display: none
}

// Logo
.logo {
  float: left;
  @include breakpoint( $max-phone ) {
    display: none;
  }}
.logo-img {}
.site-title, .site-description {
  margin: 4px;
  color: white !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  padding: 0;
  a {
    padding: 10px;
    color: white !important;
  }
}
.site-title {
  @include breakpoint( $max-phone-wh ) {
    font-size: 2rem;
  }
}
.site-description {
  margin: 0 6px;
  padding: 0 10px;
  @include breakpoint( $max-phone-wh ) {
    font-size: 1rem;
  }
}
/* Arrow & Hover Animation */
#down-arrow {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: 50% 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  z-index: 12;
  opacity: 0.5;
  // @include breakpoint( $max-phone-wh ) {
  //   height: 72px;
  //   width: 72px;
  //   bottom: -18px;
  // }
  &:hover {
    opacity: 1;
  }
  .arrow {
    opacity: 0;
    position: absolute;
    left: 20%;
    top: 55%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .arrow-1 {
    animation: arrow-movement 3s ease-in-out infinite;
  }
  .arrow-2 {
    animation: arrow-movement 3s 0.75s ease-in-out infinite;
  }
  .arrow-3 {
    animation: arrow-movement 3s 1.5s ease-in-out infinite;
  }
  .arrow-4 {
    animation: arrow-movement 3s 2.25s ease-in-out infinite;
  }

  .arrow:before,
  .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    @include breakpoint( $max-phone-wh ) {
      width: 20px;
    }
  }

  .arrow:before {
    transform: rotate(45deg) translateX(-21%);
    @include breakpoint( $max-phone-wh ) {
      transform: rotate(45deg) translateX(-17%);
    }
    transform-origin: top left;
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
  }

  .arrow:after {
    transform: rotate(-45deg) translateX(21%);
    @include breakpoint( $max-phone-wh ) {
      transform: rotate(-45deg) translateX(17%);
    }
    transform-origin: top right;
    border-top-right-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
  }
}
// Animation
@keyframes arrow-movement {
  0% { 
    opacity: 0;
    top: 0;
  }
  70% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}
// cookie notice
.widget_eu_cookie_law_widget.widget{
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  &.top {
    top: 0;
    bottom: auto;
  }}
#eu-cookie-law {
  padding: 15px;
  font-size: 100%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
  &.negative {
    background-color: rgba(0,0,0,0.8);
  }}
#view-switcher {
  position: fixed;
  top: 48px;
  right: 20px;
  * {
    font-size: 12px;
  }
  .dropdown-toggle:after {
    margin-left: 0.5em;
  }
}
@keyframes open-search-input {
  from {
    width: 30px;
    opacity: 0;
  }
}
@keyframes close-search-input {
  from {
    width: 20em;
    opacity: 1;
  }
}
@keyframes open-search-icon {
  from { color: white; }
}
@keyframes close-search-icon {
  from { color: grey; }
}
.page > .member-cta {
  position: absolute;
  bottom: 150px;
  right: 20px;
  font-size: larger;
  color: lightyellow;
  z-index: 25;
}
