/**
 * header
 * ---
 */

// Header container
#masthead {
  position: absolute;
  width: 100%;
  z-index: 10;
}
#bg-image-wrapper {
  position: absolute;
  width: 100%; 
  overflow: hidden; 
  height: 100%;
  background: #100;
  /* transform: translateZ(-2px) scale(2); */
}
#bg-image-new {
  display: none
}

// Logo
.logo {
  @include breakpoint( $max-phone ) {
    display: none;
  }}
.logo-img {}
.site-title, .site-description {
  color: white !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  padding: 0 4px;
  a {
    color: white !important;
  }
}
/* Arrow & Hover Animation */
#down-arrow {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 100px;
  width: 100px;
  z-index: 12;
  .arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 55%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .arrow-1 {
    animation: arrow-movement 3s ease-in-out infinite;
  }
  .arrow-2 {
    animation: arrow-movement 3s 0.75s ease-in-out infinite;
  }
  .arrow-3 {
    animation: arrow-movement 3s 1.5s ease-in-out infinite;
  }
  .arrow-4 {
    animation: arrow-movement 3s 2.25s ease-in-out infinite;
  }

  .arrow:before,
  .arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
  }

  .arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
  }

  .arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
  }
}
// Animation
@keyframes arrow-movement {
  0% { 
    opacity: 0;
    top: 25%;
  }
  70% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}
