/**
 * header
 * ---
 */


// Header container
#masthead {
  position: absolute;
}
#bg-image-wrapper {
    position: absolute;
    width: 100%; 
    overflow: hidden; 
    height: 100%;
    /* transform: translateZ(-2px) scale(2); */
    @include breakpoint( $max-phone ) {
      height: 50%;
    }
}
#bg-image-new {
    display: none
}

// Logo
.logo {
  @include breakpoint( $max-phone ) {
    display: none;
  }}
.logo-img {}
