/**
 * inserts: excerpt and preview-card elements
 * ---
 */
.media {
  > .d-flex {
    position: relative;
    margin-right: 10px;
    .info {
      position: absolute;
      bottom: 1px;
      padding: 1px 4px 0;
      &.length {
        border-top-left-radius: 4px;
        background: rgba(0,0,0,0.5);
        color: white;
        font-size: 90%;
        font-weight: bold;
        right: 1px;
      }
    }
  }
  .media-body {
    >.info {
      color: #aaa;
      margin: 0 0 10px;
      .admin {
        font-size: smaller;
        font-weight: bold;
        text-transform: uppercase;
      }
      .dashicons {
        margin-right: 1px;
        font-size: 18px;
      }
      .count {
        vertical-align: center;
        font-size: 13px;
      }
      > * {
        margin-right: 1em;
      }
      .views.active {
        color: deepskyblue;
      }
      .likes.active {
        color: green;
      }
      .dislikes.active {
        color: red;
      }
      .favs.active {
        color: orange;
      }
      .comments.active {
        color: purple;
      }
    }
  }
  .btn.watch {
    float: right;
  }
}
.page.release section.info {
  color: #aaa;
  margin: 0 0 10px;
  .dashicons {
    margin-right: 1px;
    font-size: 18px;
  }
  .count {
    vertical-align: center;
    font-size: 13px;
  }
  > * {
    margin-right: 1em;
  }
  .views.active {
    color: deepskyblue;
  }
  .likes.active, .likes:hover {
    color: green;
  }
  .dislikes.active, .dislikes:hover {
    color: red;
  }
  .favs.active, .favs:hover {
    color: orange;
  }
  .likes, .dislikes, .favs {
    cursor: pointer;
  }
  .comments.active {
    color: purple;
  }
}
.episodes>.title {
  text-transform: uppercase;
}
