/**
 * inserts: excerpt and preview-card elements
 * ---
 */
.media > .d-flex {
  position: relative;
  .info {
    position: absolute;
    bottom: 0;
    &.length {
      background: rgba(0,0,0,0.75);
      color: white;
      right: 0;
    }
  }
}
