/**
 * inserts: excerpt and preview-card elements
 * ---
 */
.media {
  > .d-flex {
    position: relative;
    margin-right: 10px;
    .info {
      position: absolute;
      bottom: 1px;
      padding: 1px 4px 0;
      &.length {
        border-top-left-radius: 4px;
        background: rgba(0,0,0,0.5);
        color: white;
        font-size: 90%;
        font-weight: bold;
        right: 1px;
      }
    }
  }
  .media-body {
    >.info {
      color: grey;
      margin: 0 0 10px;
      .dashicons {
        margin-right: 2px;
        font-size: 18px
      }
      .count {
        vertical-align: center;
        font-size: 13px;
      }
      > * {
        margin-right: 10px;
      }
      .likes:hover, .likes.active {
        color: darkgreen;
      }
      .dislikes:hover, .dislikes.active {
        color: darkred;
      }
    }
  }
}
