/**
 * partials/main
 * ---
 */

main {
  position: relative;
  box-shadow: 0 0px 15px rgba(0,0,0,0.6);
  margin: 0;
  width: 100%;
  background: url(img/assets/bg-fabric-white-2.jpg) repeat;
  padding: 1em;
  &>section {
    position: relative;
    >.content {
      max-width: 750px;
      margin: 0 auto;
      padding: 30px;
      text-align: justify;
    }
  }
  & h1.title {
    position: relative;
    margin-top: -1.6em;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  }}
#app {
  background: #100;
}
