/**
 * partials/main
 * ---
 */

main {
  background: white;
  position: relative;
  top: 100%;
  @include breakpoint( $max-phone ) {
    top: 50%;
  }
  &>section {
    position: relative;
  }
  & h1.title {
    position: relative;
  }}
