/**
 * main
 * ---
 */

main {
  position: relative;
  box-shadow: 0 0px 15px rgba(0,0,0,0.6);
  margin: 0;
  width: 100%;
  background: url(img/assets/bg-white-1.jpg) repeat;
  padding: 1em;
  &>section {
    position: relative;
    max-width: 750px;
    padding: 30px;
    text-align: justify;
    &.subscriptions {
      max-width: none;
    }
  }
  & h1.title {
    position: relative;
    margin-top: -1.6em;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.75);
    @include breakpoint( $max-phone ) {
      font-size: 32px;
    }
  }
  .description {
    a:link {
      color: #008;
    }
  }}
#app {
  background: #100;
}
section.episodes {
  .card {
    margin-bottom: 20px;
    .sharedaddy {
      display: none !important;
    }
    h5 {
      font-size: 110%;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
.card-body {
  >a, > a:hover {
    text-decoration: none;
    cursor: default;
  }
}
