/**
 * partials/main
 * ---
 */

main {
  position: relative;
  box-shadow: 0 0px 15px rgba(0,0,0,0.6);
  margin: 0;
  width: 100%;
  background: url(img/assets/bg-fabric-white-2.jpg) repeat;
  padding: 1em;
  @include breakpoint( $max-phone ) {
    top: 50%;
  }
  &>section {
    position: relative;
  }
  & h1.title {
    position: relative;
  }}
