/**
 * main
 * ---
 */

main {
  position: relative;
  box-shadow: 0 0px 15px rgba(0,0,0,0.6);
  margin: 0;
  width: 100%;
  background: url(img/assets/bg-white-1.jpg) repeat;
  padding: 1em;
  @include breakpoint( $max-phone ) {
    padding: 1em 0 0;
  }
  &>section {
    position: relative;
    max-width: 750px;
    padding: 30px;
    text-align: justify;
    @include breakpoint( $max-phone ) {
      padding: 0 4px;
    }
    &.subscriptions {
      max-width: none;
    }
  }
  & h1.title {
    position: relative;
    margin-top: -1.6em;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.75);
    font-size: 2.8rem;
    @include breakpoint( $max-phone-wh ) {
      font-size: 2rem;
      margin-top: -1.8em;
    }
  }
  .description {
    a:link, a:visited {
      color: #048;
      text-shadow: 0 0 2px skyblue;
    }
  }
  .login.page & {
    min-height: 85%;
    .message {
      padding: 10px;
    }
  }
}
#app {
  background: #100;
}
section.episodes {
  .card {
    margin-bottom: 20px;
    .sharedaddy {
      display: none !important;
    }
    h5 {
      font-size: 110%;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
.card-body {
  >a, > a:hover {
    text-decoration: none;
    cursor: default;
  }
}
main .login-container {
  background: white;
  max-width: 540px;
  margin: -40px auto 20px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 13px rgba(0,0,0,0.1);
  @include breakpoint( $max-phone ) {
    margin: 20px auto;
    padding: 10px;
  }
}
#login {
  main & {
    padding: 0;
    .btn-link {
      font-size: medium;
    }
  }
  &.feedback {
    padding: 10px;
    .message {
      font-size: larger;
      color: grey;
      padding: 15px;
      strong {
        font-size: large;
        font-weight: bold;
        color: #444;
      }
    }
    .login-actions .btn {
      width: 46%;
    }
  }
  padding: 10px 10px 0;
  min-width: 23em;
  label {
    font-size: small;
    padding-bottom: 0;
    color: grey;
  }
  input {
    height: 2.5em;
    font-size: large;
  }
  #login-password {
    min-height: 8.5em;
    margin-bottom: 10px;
    .alert {
      margin-bottom: 0;
    }
  }
  #login-recaptcha > div > div > div {
    margin: 0 auto;
  }
  &.register #login-password {
    min-height: 13.5em;
  }
  .login-actions {
    margin: 10px auto 0;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    .btn {
      padding: 3px 16px;
      margin: 0 5px;
      width: 40%;
      main & {
        font-size: large;
      }
      &.login-button {
        float: left;
      }
      &.register-button {
        float: right;
      }
    }
    span {
      margin: 0 auto;
      display: block;
      float: left;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      line-height: 1.5em;
      padding: 4px;
      width: 13%;
      main & {
        padding: 7px;
        width: 15.8%;
        @include breakpoint( $max-phone ) {
          width: 13.5%;
        }
      }
    }
  }
}
.page.about {
  h2 {
    margin-bottom: 1.5em;
  }
  p {
    margin-bottom: 1em;
  }
}
section.post {
  @include breakpoint( $bp-phone ) {
    margin-left: 3em;
  }
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 3em;
}
