/**
 * partials/nav
 * ---
 * Menus
 */

#header-menu {
  z-index: 10;
  @include breakpoint( $bp-phone-wh ) {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(img/assets/empty.gif);
    /* stupid ie needs a background value to understand hover area */
    margin: 0 !important;
    /* overflow: hidden; */
    /* opacity: 0; */
    animation: fadeIn ease-in 1, rise 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }}

.nav {}

#main-nav {
  @include breakpoint( $bp-phone-wh ) {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 48px auto 0;
    >.wrapper {
      position: relative;
      background-color: rgba(0, 0, 0, 0.65);
      border-top: 1px rgba(255,255,255,0.15) solid;
      box-shadow: 0 -1px 5px rgba(0,0,0,0.5);
      width: 100%;
    }}
  @include breakpoint( $max-phone-wh ) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    margin-right: 0;
    z-index: 20;
    >.wrapper {
      height: 100%;
      width: inherit;
      right: 0;
      margin-right: 0;
    }}}
#bg-nav {
  @include breakpoint( $bp-phone-wh ) {
    position: absolute;
    background: url(img/assets/bg-fancy-5.png) top center repeat-x;
    height: 250px;
    left: -400px;
    top: -19px;
  }
  @include breakpoint( $max-phone-wh ) {
    position: fixed;
    height: inherit;
    width: 200%;
    background: rgba(0,0,0,0.5);
    display: none;
  }}
#main-nav>.wrapper, #menu-nav, #menu-nav > .menu-item {
  height: inherit;
}
#nav-main-container {
  @include breakpoint( $max-phone-wh ) {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 40px;
    overflow-y: auto;
  }}
#menu-nav {
  @include breakpoint( $bp-phone-wh ) {
    position: relative;
    left: 0;
    width: 9999px;
    padding: 0;
    margin: 0;
    max-width: none !important;
    display: block;
    > .menu-item {
      float: left;
      margin: 5px 0;
      padding: 0 5px;
      height: 100%;
      opacity: 0.8;
      img {
        // border: 1px solid rgba(255,255,255,0.5);
        border: 0 none;
        display: block;
        width: 100px;
        height: 100px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.75);
        position: relative;
        z-index: 2;
      }
      &.current-menu-item img, &:not(.home) .router-link-active img,
      .router-link-exact-active img{
        border: 1px solid rgba(50,205,255,0.2);
        box-shadow: 0 0 20px rgba(50,205,255,0.5);
      }
      &:hover img {
        box-shadow: 0 100px 70px rgba(255,160,0,0.75);
        border-bottom: 1px solid rgba(255,180,80,0.5);
        border-radius: 4px;
      }
      a {
        display: block;
        padding: 0;
        position: relative;
        color: white;
        font-weight: bold;
      }
      &:hover a {
        padding-bottom: 20px;
        background-color: rgba(255,215,100,0.12);
      }
      .text {
        display: block;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0;
        padding: 3px;
        border-radius: 2px;
        opacity: 0;
        width: 100%;
        padding: 5px;
      }
    }
    > ul {
      display: none;
      height: 0;
      width: 0;
    }}
  @include breakpoint( $max-phone-wh ) {
    clear: both;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    height: auto;
    width: 100%;                // for now
    min-height: 100%;
    margin: 0;
    background: white;
    z-index: 20;
    > .wrapper {
      position: absolute;
      width: inherit;
      right: 0;
      margin-right: 0;
      overflow: auto;
    }
    > .menu-item {
      margin: 0;
      height: 3em;
      border-top: 1px solid rgba(0,0,0,0.04);
      img {
        // border: 1px solid rgba(255,255,255,0.5);
        // border: 0 none;
        // display: block;
        float: left;
        // box-shadow: 0 1px 2px rgba(0,0,0,0.75);
        height: 2.7em;
        margin: -0.6em 0.6em -0.6em -0.8em;
      }
      &.current-menu-item {
        // border: 1px solid rgba(50,205,255,0.2);
        // box-shadow: 0 0 3px rgba(50,205,255,0.5);
        background-color: rgba(50,205,255,0.2);
      }
      &:hover img {
        box-shadow: 0 0px 3px rgba(255,160,0,0.75);
      }
      a {
        clear: both;
      }
      // a {
      //   display: block;
      //   padding: 0;
      //   position: relative;
      // }
      // &:hover a {
      //   padding-bottom: 20px;
      //   background-color: rgba(255,215,100,0.12);
      // }
      // .text {
      //   background-color: rgba(0,0,0,0.5);
      //   position: absolute;
      //   top: -2em;
      //   padding: 3px;
      //   border-radius: 2px;
      //   opacity: 0;
      // }
    }}
  .menu-item .message {
    display: none;
    @include breakpoint( $bp-phone-wh ) {
      &.wide {
        display: block;
        position: absolute;
        // top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        max-height: 100%;
        text-align: center;
        color: white;
        text-shadow: 0 0 2px black;
      }}
    @include breakpoint( $max-phone-wh ) {
      &.mobile {
        display: inline;
        float: right;
        /* background: cornflowerblue; */
        color: #5bf;
        /* padding: 4px 20px; */
        /* margin-top: -3px; */
        /* margin-left: 2em; */
        /* border-radius: 8px; */
        /* text-shadow: 0 0 4px lightblue; */
        font-weight: bold;
      }}
  }}

// .navbar-brand {
//   display: none;
//   @include breakpoint( $max-phone-wh ) {
//     display: block;
//     height: 50px;
//     padding: 5px;
//     float: right;
//   }}
.mobile-logo {
  @include breakpoint( $max-phone-wh ) {
    height: 40px;
  }}

button.nav-menu {
  position: absolute;
  display: none;
  border: 0 none;
  height: 48px;
  padding: 8px;
  width: 48px;
  background: transparent;
  z-index: 21;
  text-shadow: 0 0 2px black;
  opacity: 0.75;
  color: white !important;
  text-decoration: none !important;
  &:focus {
    outline: 0 none !important;
  }
  &:hover {
    opacity: 1;
  }
  .navbar-toggle-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
  }
  &.menu-wide {
    @include breakpoint( $bp-phone-wh ) {
      display: block;
      right: 12px;
      top: -28px;
      &.open {
        top: 0;
      }
    }}
  &.toggle-mobile {
    @include breakpoint( $max-phone-wh ) {
      display: block;
      // float: left;
      font-weight: bold;
      // border: 1px solid lightgray;
      top: 50%;
      margin-top: -24px;
      right: -40px;
    }}
}
nav.site-menu {
  position: absolute;
  top: 3.5em;
  right: 20px;
  a, a:link, a:hover, a:visited {
    color: white;
    text-shadow: 0 0 2px black;
    text-decoration: none !important;
    padding: 5px 1em;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 2px;
    &.router-link-exact-active {
      background: rgba(0,0,0,0.8);
    }
  }
  a:hover {
    background: rgba(255,255,255,0.2);
  }
}


.menu {}

.sub-menu {}

.menu-item {}
