/**
 * parallax
 * ---
 */

html, #app {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #25252b;
  height: 100%;
}
.page {
  // max-width: $wrapper-width;
  // overflow-x: hidden;
  // overflow-y: scroll;
  perspective: 2px;
  height: 100%;
}
#bg-image, #bg-image-new {
  position: absolute;
  min-width: 100%; 
  min-height: 100%;
  max-width: none;
  transform: translateZ(-2px) scale(2.02);
  height: 100%;
  @include breakpoint( $max-phone ) {
    // transform: translateY(-50%) translateZ(-2px) scale(2.02);
    min-height: 100%;
    max-width: none;
  }
}
main {
  transform: translateZ(0);
  z-index: 2;
  // padding: 1em;
  @include breakpoint( $max-phone ) {
    margin-bottom: 0;
  }}
