/**
 * shop: styles for shopping elements
 * ---
 */
.card.member-level {
  background: #345;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: none;
  .card-header {
    text-align: center;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    background: #234;
    color: #fe9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .description {
    color: #eee;
    padding: 5px;
    min-height: 6em;
  }
  .price {
    font-size: xx-large;
    text-align: right;
    color: white;
  }
  .card-footer {
    text-align: center;
    font-size: large;
    text-transform: capitalize;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    &.selected {
      background: darkseagreen;
    }
    &.buy {
      padding: 0;
      border-top-color: #fb1;
      a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0.75rem 1.25rem;
        display: block;
        background: orange;
        color: black;
        text-decoration: none !important;
        &:hover {
          background: #fa0;
          color: yellow;
        }
      }
    }
  }
}
.subscription-menu {
  .confirm {
    .order {
      .table-secondary {
        font-weight: bold;
      }
    }
    .actions {
      a, button, .btn {
        float: right;
        font-size: medium;
      }
    }
  }
  .description {
    margin-bottom: 2em;
  }
}
