/**
 * vars: variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

/**
 * Responsive, breakpoints
 */

$bp-tiny: 240px;
$bp-xsmall: 320px;
$bp-small: 360px;
$bp-phone-s: 480px;
$bp-phone: 600px;
$bp-phone-wh: (min-width $bp-phone) (min-height $bp-phone);
$bp-phone-m: 600px;
$bp-phone-l: 640px;
$bp-phone-xl: 720px;
$bp-tablet-s: 768px;
$bp-tablet-m: 800px;
$bp-tablet-l: 1024px;
$bp-tablet: 1024px;
$bp-wide: 1280px;
$bp-xwide: 1366px;

$max-tiny: max-width $bp-tiny;
$max-xsmall: max-width $bp-xsmall;
$max-small: max-width $bp-small;
$max-phone-s: max-width $bp-phone-s;
$max-phone: max-width $bp-phone;
$max-phone-wh: (max-width $bp-phone), (max-height $bp-phone);
$max-phone-m: max-width $bp-phone-m;
$max-phone-l: max-width $bp-phone-l;
$max-phone-xl: max-width $bp-phone-xl;
$max-tablet-s: max-width $bp-tablet-s;
$max-tablet-m: max-width $bp-tablet-m;
$max-tablet-l: max-width $bp-tablet-l;
$max-tablet: max-width $bp-tablet;
