<div class="home page">
  <wp-header></wp-header>
  <div class="mh-100 mw-100">
    <div class="container">
      <carousel id="hero" topic="featured"></carousel>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <content-list title="latest" :content="latest"></content-list>
    </div>
    <div class="row">
      <filmstrip title="trending" :content="trending"></filmstrip>
    </div>
    <div class="row">
      <filmstrip title="recent activity" :content="recent"></filmstrip>
    </div>
    <div class="row">
      <filmstrip title="pull up" :content="history"></filmstrip>
    </div>
    <div class="row">
      <filmstrip title="you might like" :content="discovery"></filmstrip>
    </div>
    <div class="row">
      <filmstrip title="my faves" :content="favs"></filmstrip>
    </div>
  </div>
  <carousel-nav></carousel-nav>
  <wp-footer></wp-footer>
</div>
