<div class="home page">
  <div id="bg-image-wrapper">
    <transition name="fade">
      <img id="bg-image" :src="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <div class="featured-wrapper">
    <mrk-carousel id="featured" :slides="promos"></mrk-carousel>
  </div>

  <main role="main">
    <h1 class="title">{{ title }}</h1>
    <content-list title="latest" :contents="latest"></content-list>
    <filmstrip title="trending" :contents="trending"></filmstrip>
    <filmstrip title="recent activity" :contents="recent"></filmstrip>
    <filmstrip title="pull up" :contents="history"></filmstrip>
    <filmstrip title="you might like" :contents="discovery"></filmstrip>
    <filmstrip title="my faves" :contents="favs"></filmstrip>
  </main>
  <wp-footer></wp-footer>
</div>
