<swiper :options="options">
  <swiper-slide v-for="( slide, index ) in slides" :key="slide.id">
    <h2 v-html="slide.title.rendered"></h2>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <template v-if="slide.post_type == 'attachment'">
            <img v-if="slide.media_type == 'image'" :src="slide.source_url"
                 class="media" />
            <video v-else-if="slide.mime_type.indexOf( 'video' ) == 0"
                   :src="slide.source_url" class="media" controls>
              {{ slide.alt_text }}
            </video>
          </template>
        </div>
        <div class="col-6">
          <div v-if="slide.excerpt" class="excerpt"
               v-html="slide.excerpt.rendered"></div>
          <div v-if="slide.description" class="description"
               v-html="slide.description.rendered"></div>
          <div v-else-if="slide.caption" class="caption"
               v-html="slide.caption.rendered"></div>
          <router-link v-if="slide.read_more"
                       :to="slide.full_content.path"
                       class="read-more">read_more</router-link>
          <router-link v-else-if="slide.full_content"
                       :to="slide.full_content.path"
                       class="watch-now">watch now</router-link>
        </div>
        <!-- TODO: if paid content, this link should be different, maybe it's
             own component -->
      </div>
    </div>
  </swiper-slide>
  <swiper-slide v-if="slides.length == 0">
    <flower-spinner :animation-duration="2500" :size="70" color="#025">
    </flower-spinner>
  </swiper-slide>
  <div v-else class="swiper-pagination" slot="pagination"></div>
</swiper>
