<section class="filmstrip">
  <h3 class="title" v-if="title">{{ title }}</h3>
  <div class="content" v-if="contents.length > 0">
    <carousel :per-page="1"
              :per-page-custom="[[350,2],[800,3],[1050,4],[1300,5],[1550,6],
                                [2800,7],[2050,8],[2300,9],[2550,11],[2800,12]]"
              :navigation-enabled="true"
              :pagination-enabled="false"
              :scroll-per-page="false">
      <slide v-for="( item, index ) in contents" :key="index">
        <b-card :title="item.title ? item.title.rendered: ''"
                :img-src="item.thumbnail"
                :class="[ 'item', { current: item.id == current },
                          cardClasses( item )]"
                img-top >
          <p class="card-text"
             v-html="item.content ? item.content.rendered
                     : item.caption ? item.caption.rendered : ''"></p>
          <b-btn v-if="item.id == current" variant="link"
                 size="lg" class="float-right watching"
                 v-scroll-to="{ el: '#featured', container: '.page',
                                x: false, y: true }">now {{
            sayAction( item )}}ing</b-btn>
          <watch-button v-else :target="item"></watch-button>
        </b-card>
      </slide>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
      <div class="swiper-scrollbar"   slot="scrollbar"></div>
    </carousel>
  </div>
  <template v-else>
    <div class="message empty-list">nothing to show yet</div>
    <a v-if="query" class="loadmore" href="#"
       @click.prevent="loadMore">refresh</a>
  </template>
</section>
