<b-dd id="user">
  <template slot="button-content">
    <span class="dashicons dashicons-admin-users"></span>
    {{ loggedIn ? user.display_name: 'sign in' }}
  </template>
  <b-dd-item v-if="loggedIn" @click="logout">log out</b-dd-item>
  <b-form v-else>
    <b-form-group id="login-username"
                  label="username or email address"
                  label-for="username">
      <b-form-input id="username"
                    type="email"
                    v-model="loginForm.user"
                    required></b-form-input>
    </b-form-group>
    <b-form-group id="login-password"
                  label="password"
                  label-for="username">
      <b-form-input id="password"
                    type="password"
                    @click="nolink"
                    v-model="loginForm.pass"
                    required></b-form-input>
    </b-form-group>
    <b-form-checkbox v-model="loginForm.link">
      or send login link</b-form-checkbox>
    <b-form-group class="login-actions">
      <b-btn type="submit" variant="primary">login</b-btn>
      or
      <b-btn type="submit" variant="success">sign-up</b-btn>
    </b-form-group>
  </b-form>
</b-dd>
