<div class="program post page" :key="postData.id">
  <div id="bg-image-wrapper" :class="classes">
    <transition name="fade">
      <img id="bg-image" :src="img" :key="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <down-arrow></down-arrow>
  <div class="featured-wrapper">
    <transition name="fade-in">
      <mrk-carousel v-if="promos.length" id="featured"
                    :slides="promos"></mrk-carousel>
    </transition>
  </div>

  <main role="main">
    <h1 class="title">{{ title }}</h1>
    <section class="episodes">
      <h2 class="title">Programmes</h2>
      <b-card v-for="( episode, index ) in episodes" :key="episode.id">
        <b-media no-body>
          <b-media-aside>
            <b-img :src="episode.thumbnail" width="128" height="96" />
            <div class="info length">{{
                episode.media_details.length_formatted
              }}</div>
          </b-media-aside>
          <b-media-body>
            <h5 class="mt-0">{{ episode.title.rendered }}</h5>
            <div class="info row">
              <div :class="[ 'views', 'd-flex',
                             { active : episode.my_xp.seen }]">
                <span class="dashicons dashicons-visibility"></span>
                <span class="count">{{ episode.stats.views || 0 }}</span>
              </div>
              <div :class="[ 'likes',  'd-flex',
                             { active: episode.my_xp.like }]">
                <span class="dashicons dashicons-thumbs-up"></span>
                <span class="count">{{ episode.stats.likes || 0 }}</span>
              </div>
              <div :class="[ 'dislikes', 'd-flex',
                             { active: episode.my_xp.dislike }]">
                <span class="dashicons dashicons-thumbs-down"></span>
                <span class="count">{{ episode.stats.dislikes || 0 }}</span>
              </div>
              <div :class="[ 'favs', 'd-flex', { active: episode.my_xp.fav }]">
                <span class="dashicons dashicons-star-filled"></span>
                <span class="count">{{ episode.stats.favs || 0 }}</span>
              </div>
              <div :class="[ 'comments', 'd-flex',
                             { active: episode.my_xp.comment }]">
                <span class="dashicons dashicons-admin-comments"></span>
                <span class="count">{{ episode.stats.comments || 0 }}</span>
              </div>
            </div>
            <div v-html="episode.caption.rendered"></div>
          </b-media-body>
        </b-media>
      </b-card>
    </section>
    <comments></comments>
  </main>
  <wp-footer></wp-footer>
</div>
