<div class="program post page">
  <div id="bg-image-wrapper" :class="classes">
    <transition name="fade">
      <img id="bg-image" :src="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <div class="featured-wrapper">
    <transition name="fade-in">
      <mrk-carousel v-if="promos.length" id="featured"
                    :slides="promos"></mrk-carousel>
    </transition>
  </div>

  <main role="main">
    <h1 class="title">{{ title }}</h1>
    <section class="content description" v-html="content"></section>
    <section class="episodes">
      <h2 class="title">Episodes</h2>
      <b-card v-for="( episode, index ) in episodes" :key="episode.id">
        <b-media>
          <b-media-aside>
            <b-img :src="episode.thumbnail" width="128" height="96" />
            <div class="info length">{{ episode.media_details.length_formatted }}</div>
          </b-media-aside>
          <b-media-body>
            <h5 class="mt-0">{{ episode.title.rendered }}</h5>
            <div v-html="episode.caption.rendered"></div>
          </b-media-body>
        </b-media>
      </b-card>
    </section>
    <comments></comments>
  </main>
  <wp-footer></wp-footer>
</div>
