<div class="program post page" :key="postData.id">
  <div id="bg-image-wrapper" :class="classes">
    <transition name="fade-in" appear>
      <img id="bg-image" :src="img" :key="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <down-arrow></down-arrow>
  <div class="featured-outer">
    <transition name="fade-in">
      <div v-if="promos.length" class="featured-wrapper">
        <mrk-carousel id="featured" :slides="promos"></mrk-carousel>
      </div>
    </transition>
  </div>

  <main role="main">
    <h1 class="title" v-html="title"></h1>
    <section class="description" v-html="content"></section>
    <content-section title="Programmes" :episodes="episodes"></content-section>
    <content-section title="Frome the Archive" :episodes="archive"
                     :show-empty="false"></content-section>
    <comments></comments>
  </main>
  <wp-footer></wp-footer>
</div>
