<div class="post page">
  <div id="bg-image-wrapper" :class="classes">
    <transition name="fade">
      <img id="bg-image" :src="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <div class="featured-wrapper">
    <transition name="fade">
      <mrk-carousel v-if="promos.length" id="featured"
                    :slides="promos"></mrk-carousel>
    </transition>
  </div>

  <main role="main">
    <h1 class="title">{{ title }}</h1>
    <div class="content" v-html="content"></div>
  </main>
  <comments></comments>
  <wp-footer></wp-footer>
</div>
