<div :class="['preview', 'page', postData.release_type]" :key="postData.id">
  <div id="bg-image-wrapper" :class="classes">
    <transition name="fade-in" appear>
      <img id="bg-image" :src="img" :key="img" @load="showImg" v-show="show"/>
    </transition>
  </div>
  <wp-header></wp-header>
  <div class="featured-wrapper">
    <div class="container">
      <div class="row">
        <div :class="[ 'media-wrapper', 'col-12', wideMode ? '' : 'col-md-8']">
          <video v-if="postData.release_type == 'video'"
                 :src="postData.source_url" class="media" autoplay controls>
            {{ postData.alt_text }}
          </video>
          <audio v-else-if="postData.release_type == 'audio'"
                 :src="postData.source_url" class="media" autoplay controls>
            {{ postData.alt_text }}
          </audio>
          <carousel v-else-if="postData.release_type == 'gallery'">
            <slide v-for="( slide, index ) in postData.content" :key="index"></slide>
          </carousel>
        </div>
        <transition name="fade-in">
          <div v-if="!wideMode" class="col-12 col-md-4 description">
            <div v-html="content"></div>
            <b-btn variant="warning" size="lg" class="float-right"
                   v-scroll-to="{ el: 'main', container: '.page',
                                x: false, y: true }">
              subscribe for full content</b-btn>
          </div>
        </transition>
      </div>
    </div>
  </div>

  <main role="main">
    <h1 class="title" v-html="title"></h1>
    <section class="info row">
      <div :class="[ 'views', 'd-flex',
                   { active : postData.my_xp.seen }]">
        <span class="dashicons dashicons-visibility"></span>
        <span class="count">{{ postData.stats.views || 0 }}</span>
      </div>
      <div :class="[ 'likes',  'd-flex',
                   { active: postData.my_xp.like }]"
           @click.stop="likePost">
        <span class="dashicons dashicons-thumbs-up"></span>
        <span class="count">{{ postData.stats.likes || 0 }}</span>
      </div>
      <div :class="[ 'dislikes', 'd-flex',
                   { active: postData.my_xp.dislike }]"
           @click.stop="dislikePost">
        <span class="dashicons dashicons-thumbs-down"></span>
        <span class="count">{{ postData.stats.dislikes || 0 }}</span>
      </div>
      <div :class="[ 'favs', 'd-flex', { active: postData.my_xp.fav }]"
           @click.stop="favPost">
        <span class="dashicons dashicons-star-filled"></span>
        <span class="count">{{ postData.stats.favs || 0 }}</span>
      </div>
      <div :class="[ 'comments', 'd-flex',
                             { active: postData.my_xp.comment }]">
        <span class="dashicons dashicons-admin-comments"></span>
        <span class="count">{{ postData.stats.comments || 0 }}</span>
      </div>
    </section>
    <!-- TODO: strips for related, series -->
    <section class="description" v-if="wideMode" v-html="content"></section>
    <section class="subscriptions">
      <subscription-menu :target="postData.path">
        Select one of the subscription plans to see the full content.
      </subscription-menu>
    </section>
  </main>
  <wp-footer></wp-footer>
</div>
