<header id="masthead" class="header clear">
  <div id="banner-notices"></div>
  <div class="action-bar">
    <b-btn v-if="!isSubscriber && !isMembersRoute" class="member-cta"
           variant="warning" to="/members">Become A VIP Today!</b-btn>
    <user-block></user-block>
    <search-form></search-form>
  </div>
  <div class="logo">
    <router-link to="/"><img :src="logo" class="logo-img"/></router-link>
  </div>
  <h1 class="site-title"><router-link to="/">{{ title }}</router-link></h1>
  <p class="site-description">{{ description }}</p>
</header>
