<header id="masthead" class="header clear">
  <div id="banner-notices"></div>
  <div class="action-bar">
    <b-btn v-if="!isSubscriber && !isMembersRoute" class="member-cta"
           variant="warning" to="/members">Become A VIP Today!</b-btn>
    <view-switcher></view-switcher>
    <user-block></user-block>
    <search-form></search-form>
    <nav v-if="sstate.menus.site" class="site-menu">
      <router-link
        v-for="item in sstate.menu.site" :key="item.id"
        :to="item.url" v-html="item.title"></router-link></nav>
  </div>
  <div id="site-brand">
    <div class="logo">
      <router-link to="/"><img :src="logo" class="logo-img"/></router-link>
    </div>
    <h1 class="site-title"><router-link to="/">{{ title }}</router-link></h1>
    <p class="site-description">{{ description }}</p>
  </div>
</header>
