<div id="header-menu" class="header-menu">
  <div id="feature-tray"><div id="feature-tray-inner"></div></div>
  <!-- nav -->
  <nav id="main-nav" class="nav main-nav" role="navigation">
    <div class="container">
      <div id="bg-nav"></div>
      <button class="menu-toggle toggle-mobile nav-menu" type="button"
              data-toggle="collapse" data-target="#menu-nav"
              aria-controls="menu-nav" aria-expanded="false"
              aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon" aria-hidden="true">Menu</span>
      </button>
      <router-link class="navbar-brand" to="/">
        <!-- mobile logo -->
        <img :src="logo" alt="Logo" class="logo-img mobile-logo"/>
        <!-- /mobile logo -->
        <!-- mobile site title -->
        <h1 class="site-title">{{ title }}</h1>
        <!-- /mobile site title -->
      </router-link>
      <div id="nav-main-container" class="menu-nav-container">
        <ul class="menu primary-menu nav navbar-nav collapse">
          <li v-for="( item, index ) in menu" :key="index" class="menu-item">
            <router-link :to="item.url">
              <img :src="item.thumb" />
              <span class="text">{{ item.title }}</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /nav -->
</div>
