<div id="header-menu"
     :class="['header-menu', { mobile: sstate.window.width < 601 }]">
  <div id="feature-tray"><div id="feature-tray-inner"></div></div>
  <b-btn class="menu-toggle menu-wide nav-menu" variant="link"
          :class="{ open: menuOpen }"
          @click="toggleMenu" aria-label="Toggle Navigation">
    <transition name="fade-fast" mode="out-in">
      <span v-if="menuOpen" key="menu"
            class="dashicons dashicons-arrow-down-alt2 navbar-toggle-icon open"
            aria-hidden="true"></span>
      <span v-else key="close"
            class="dashicons dashicons-menu navbar-toggle-icon"
            aria-hidden="true"></span>
    </transition>
  </b-btn>
  <!-- nav -->
  <nav id="main-nav" class="nav main-nav" role="navigation">
    <div class="wrapper">
      <div @click.stop="closeMenu" id="bg-nav"></div>
      <button class="menu-toggle toggle-mobile nav-menu" type="button"
              @click="toggleMenu" aria-label="Toggle Navigation">
        <transition name="fade-fast" mode="out-in">
          <span v-if="menuOpen" key="menu"
                class="dashicons dashicons-arrow-left-alt2 navbar-toggle-icon"
                aria-hidden="true"></span>
          <span v-else key="close"
                class="dashicons dashicons-menu navbar-toggle-icon"
                aria-hidden="true"></span>
        </transition>
      </button>
      <div id="nav-main-container" class="menu-nav-container">
        <ul id="menu-nav" class="menu primary-menu nav navbar-nav">
          <li v-for="( item, index ) in menu" :key="index"
              :class="[ 'menu-item', slug( item )]">
            <router-link :to="item.url" @click.native="closeMenu">
              <img :src="item.thumb" />
              <span class="text" v-html="item.title"></span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /nav -->
</div>
