<carousel :autoplay="true" :per-page="1" :autoplay-timeout="15000" :loop="true"
          pagination-color="#000" pagination-active-color="#fff"
          id="featured">
  <slide v-for="( slide, index ) in slides" :key="slide.id">
    <div class="container">
      <div class="row">
        <div :class="[ 'col', 'col-12', { 'col-md-8': slide.show_text }]">
          <template v-if="slide.type == 'attachment'">
            <img v-if="slide.media_type == 'image'" :src="slide.source_url"
                 class="media" />
            <video v-else-if="slide.mime_type.indexOf( 'video' ) == 0"
                   :src="slide.source_url" class="media"
                   controls autoplay>
              {{ slide.alt_text }}
            </video>
            <audio v-else-if="slide.mime_type.indexOf( 'audio' ) == 0"
                   :src="slide.source_url" class="media" controls>
              {{ slide.alt_text }}
            </audio>
          </template>
        </div>
        <div v-if="slide.show_text" class="col col-12 col-md-4">
          <h2 v-if="slide.title" v-html="slide.title.rendered"></h2>
          <div v-if="slide.excerpt" class="excerpt"
               v-html="slide.excerpt.rendered"></div>
          <div v-else-if="slide.caption" class="caption"
               v-html="slide.caption.rendered"></div>
          <!-- <div v-if="slide.description" class="description" -->
          <!--      v-html="slide.description.rendered"></div> -->
          <router-link v-if="slide.read_more"
                       :to="slide.full_content.path"
                       class="read-more">read_more</router-link>
          <b-btn v-if="slide.full_content
                       && canWatchNow( slide.full_content )"
                 variant="primary" :to="slide.full_content.path" size="lg"
                 class="float-right">{{
            sayAction( slide.full_content )}} now</b-btn>
          <b-btn v-else variant="warning"
                 size="lg" class="float-right"
                 v-scroll-to="{ el: 'main', container: '.page',
                              x: false, y: true }">
            subscribe for full content</b-btn>
        </div>
        <!-- TODO: if paid content, this link should be different, maybe it's
             own component -->
      </div>
    </div>
  </slide>
  <slide v-if="slides.length == 0">
    <flower-spinner :animation-duration="2500" :size="70" color="#025">
    </flower-spinner>
  </slide>
</carousel>
